.footer {
  display: grid;
  grid-gap: 0.625em 2.5em;
  grid-template-columns: 1fr auto auto;
  align-items: center;

  padding: 1.5em 2em;

  font-size: 1em;

  background-color: var(--primary);
}

p.footer__typography,
.footer__link {
  font-weight: 500;
  color: hsl(0deg 0% 100%);
}

.footer__link {
  text-decoration: none;
  transition: color 0.25s;
}

.footer__link:hover {
  color: hsl(0deg 0% 92%);
}

@media screen and (width <= 49.1875em) {
  .footer {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
