:root {
  --bg-color: hsl(220deg 18% 97%);
  --primary: hsl(252deg 97% 66%);
  --success: hsl(155deg 74% 44%);
  --success-light: hsl(155deg 77% 88%);
  --text-primary: hsl(215deg 14% 27%);
  --text-secondary: hsl(180deg 0% 53%);
  --divider: 1px dotted hsl(0deg 0% 77%);
  --button-contained-bg: hsl(252deg 97% 66%);
  --button-contained-bg-hover: hsl(252deg 82% 55%);
  --button-contained-color: hsl(0deg 0% 100%);
  --button-outlined-border: 1px solid hsl(0deg 0% 92%);
  --button-outlined-border-hover: 1px solid hsl(0deg 2% 70%);
  --button-outlined-bg: hsl(0deg 0% 100%);
  --min-width: 320px;
  --max-width: 1440px;
  --transition: 0.25s cubic-bezier(0.25, 0.75, 0.5, 1.25);
}

html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 1em;
}

body {
  box-sizing: border-box;
  min-height: 100%;

  font-size: clamp(0.75rem, 0.32vw + 0.686rem, 1rem);
  line-height: clamp(1.02rem, 0.614vw + 0.897rem, 1.5rem);

  background-color: var(--bg-color);

  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:where(fieldset[class]) {
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

svg *[fill] {
  fill: currentcolor;
}

svg *[stroke] {
  stroke: currentcolor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
