:root {
  --bg-color: hsl(220deg 18% 97%);
  --primary: hsl(252deg 97% 66%);
  --success: hsl(155deg 74% 44%);
  --success-light: hsl(155deg 77% 88%);
  --text-primary: hsl(215deg 14% 27%);
  --text-secondary: hsl(217deg 5% 50%);
  --separator: 1px dotted hsl(0deg 0% 77%);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  box-sizing: border-box;
  min-height: 100%;

  font-size: 1em;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

:where(fieldset[class]) {
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

svg *[fill] {
  fill: currentcolor;
}

svg *[stroke] {
  stroke: currentcolor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}
