.layout {
  --aside-width: 14.375em;

  display: grid;
  grid-template:
    ". header header ." auto
    ". aside main ." 1fr
    "footer footer footer footer" auto
    / auto var(--aside-width) minmax(var(--min-width), var(--max-width)) auto;
}

.layout--noscroll {
  overflow: hidden;
}

.layout__header {
  display: none;
  grid-area: header;
}

.layout__aside {
  grid-area: aside;
  padding-left: 2.0625em;
}

.layout__aside,
.layout__main {
  margin-top: 2.5em;
}

.layout__main {
  grid-area: main;
  padding-inline: 2.0625em;
}

.layout__footer {
  grid-area: footer;
}

@media screen and (width <= 43.9375em) {
  .layout {
    grid-template:
      "header" auto
      "main" 1fr
      "footer" auto
      / minmax(var(--min-width), 1fr);
  }

  .layout > .layout__header {
    display: grid;
  }

  .layout > .layout__main {
    margin-top: 1.5em;
    padding-inline: 1em;
  }

  .layout > .layout__aside {
    display: none;
  }
}

.layout__aside--mobile {
  position: fixed;
  z-index: 1000;
  inset: 0;

  overflow-y: auto;

  margin-top: 0;

  background-color: var(--bg-color);
}

.error {
  position: sticky;
  top: 2.5em;
  right: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 1rem;
}
