.form {
  display: grid;
  grid-gap: 1.25em;
  grid-template-areas:
    "name title rating"
    "text text text"
    "submit submit submit";
  grid-template-columns: repeat(3, 1fr);
  align-items: start;

  font-size: 1rem;
}

@media (width <= 35em) {
  .form {
    grid-template-areas:
      "name"
      "title"
      "text"
      "rating"
      "submit";
    grid-template-columns: 1fr;
  }

  .form .form__rating {
    justify-self: start;
  }

  .form .form__submit {
    flex-direction: column;
    align-items: flex-start;
  }

  .form .form__button {
    justify-content: center;
    width: 100%;
    padding: 1em;
  }
}

.form__name {
  grid-area: name;
}

.form__title {
  grid-area: title;
}

.form__rating {
  display: flex;
  grid-area: rating;
  flex-wrap: wrap;
  gap: 0 0.625em;
  align-items: center;
  justify-self: end;
}

.form__rating--error {
  align-items: start;
}

.form__area {
  resize: vertical;
  grid-area: text;
}

.form__submit {
  display: flex;
  grid-area: submit;
  gap: 0.625em;
  align-items: center;
}

.form__button {
  padding: 0.75em 2.1875em;
}

.form__alert {
  margin-top: 1em;
}
