.area__field {
  display: block;

  width: 100%;
  padding: 0.375em 0.75em;

  font-size: 1rem;
  color: var(--text-primary);

  border: 0;
  border-radius: 0.375em;
  box-shadow: 0 4px 4px 0 #0000000d;
}

.area__field:not(.area__field--error):focus {
  outline: 2px solid var(--primary);
}

.area__field:not(.area__field--error)::placeholder {
  color: var(--text-secondary);
}

@keyframes shake {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 0.5em;
  }

  75% {
    margin-left: -0.5em;
  }

  100% {
    margin-left: 0;
  }
}

.area__field--error {
  outline: 2px solid var(--error);
  animation: shake 0.2s ease-in-out 0s 2;
}

.area__error {
  margin-top: 0.375em;
  color: var(--error);
}
