.alert {
  position: relative;

  padding: 1em 3em;

  font-size: 1rem;

  border: 1px solid;
  border-color: var(--alert-accent-color);
  border-radius: 0.5em;
}

.alert__title {
  margin-bottom: 0.5em;

  font-size: 1em;
  font-weight: 700;
  line-height: 1.25;
  color: var(--alert-accent-color);
}

.alert__text {
  font-size: 0.875em;
}

.alert__icon {
  position: absolute;
  top: 1em;
  left: 1em;
}

.alert__close {
  background-color: unset;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
}

.alert--info {
  --alert-accent-color: hsl(206deg 79% 38%);
}

.alert--warning {
  --alert-accent-color: hsl(47deg 100% 50%);
}

.alert--success {
  --alert-accent-color: hsl(172deg 72% 34%);
}

.alert--error {
  --alert-accent-color: hsl(11deg 100% 59%);
}
